* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #111;

}

h2{
    position: relative;
    font-size: 50px;
    color: #222;

}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: anim 5s linear infinite;

}
@keyframes anim{
    
    0%,
    10%,
    100% {
        width: 0;

    }
    70%,
    90% {
        width: 100%;
    }
}
